body {
    overflow: hidden;
}

main {
	margin-top: 80px;
	padding: 40px;
	position: relative;
}

p {
	font-size: 35px;
	margin: 0 auto;
	max-width: 55%;
	color: #a5a5a5;
}

.centered-image {
    text-align: center;
	margin-top: 7%; /* Чтобы изображение было ниже */
}

.centered-image img {
    max-width: 55%; /* Чтобы изображение не превышало ширину родительского блока */
}

/* стили для изображения cлева */
.left-full-image {
    position: absolute;
    top: -70px; /* чтобы изображение было сверху страницы */
    left: 0;
    width: 50%;
    height: 100vh; /* Занимает всю высоту страницы */
    overflow: hidden;
}

/* стили для изображения справа */
.right-full-image {
    position: absolute;
    top: -70px; /* чтобы изображение было сверху страницы */
    right: 0;
    height: 100vh; /* Занимает всю высоту страницы */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



